@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor1: #F2F2F2;
    --cor2: #41D983;
    --cor3: #2EA66E;
    --cor4: #093040;
    --cor5: #011C40;
    --cor6: #011836;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);  
}

a.externo::after {
    content: '\0020\1F517';
}

main p {
    margin: 15px 0px;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    min-height: 150px;
    text-align: center;
}

header > h1 {
    color: var(--cor1);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    padding-top: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}
header > p {
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 20px 5px 30px 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

nav {
    background-color: var(--cor3);
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.314);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor6);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main {
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    font-size: 1.8em;
    font-weight: normal;
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor5);
    font-weight: bolder;
}

main a {
    text-decoration: none;
    color: var(--cor6);
    font-weight: bolder;
    background-color: var(--cor2);
    border-radius: 5px;
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);  
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #3be4958c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.322);
}

aside > h3 {
    color: var(--cor2);
    background-image: linear-gradient(to right, var(--cor5), transparent);
    border-radius: 10px 0px;
    padding: 5px;
    margin: -10px -10px 0px -10px;
}

aside > ul {
    list-style-type: '\1F5F8\00A0\0020';
    list-style-position: inside;
    columns: 2;
} 

footer {
    background-color: var(--cor6);
    color: var(--cor1);
    text-align: center;
    font-size: .8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor3);
}